<<<<<<< HEAD
* { 
    background-color: #272727;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Stellar";
    src: url("fonts/Stellar-light.otf");
 }
 @font-face {
    font-family: "Anurati";
    src: url("fonts/Anurati-Regular.otf");
 }
 @font-face {
    font-family: "Mylodon";
    src: url("fonts/Mylodon-Light.otf");
 }

.titrarticle {
    font-family: "Mylodon";
    text-align: center;
    color: #4D4DFF;

}

.racc {
    text-align: center; 
    justify-content: center;
}

.racc ul li {
    display: inline;
    font-family: "Stellar"; 
    font-size: 20px; 
    letter-spacing: 0.5em; 
    color: #ff007f; 
}

.titresecond {
    font-family: "Mylodon";
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ff007f;
    text-align: center;
    letter-spacing: 0.5em;
}

.contenu-article  {
    font-family: "Stellar";
    color: #FFFFFF;
    margin: 10px;
    letter-spacing: 0.2em;
}
.imgArticle {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    padding: 50px;
}

.crelou {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    text-align: justify;
    line-height: 240%;
}

.titre-article {
    font-size: 170%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

em {
   color: #ff007f; 
}

.videoArticle {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    max-width: 80%;
    margin: auto;
}

@media screen and (min-width: 960px) {
    .contenu-article {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .crelou {
        max-width: 80%;
        line-height: 110%;
    }
    .titresecond {
        line-height: 50px;
    }  
}
