* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Stellar";
    src: url("fonts/Stellar-light.otf");
 }
 @font-face {
    font-family: "Anurati";
    src: url("fonts/Anurati-Regular.otf");
 }
 @font-face {
    font-family: "Mylodon";
    src: url("fonts/Mylodon-Light.otf");
 }

body {
    background-color: #272727;
}


/** Page contact **/

.titre_contact {
    color: #4D4DFF;
    font-family: "Mylodon";
    text-align: right;
    padding: 2rem;
    margin-bottom: 20px;
}

.flex_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.input_mail, .input_name, .zone_de_texte, .verif_robot, .checkbox, .send_button {
    color: #FF007F;
    font-family: "Stellar";
}

.zone_de_texte, .input_mail, .input_name {
    width: 60%;
    background: #272727;
    resize: none;
    border: 2px dotted #4D4DFF;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 20px;
}

.zone_de_texte {
    height: 200px;
}

.verif_robot_align {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    font-size: 20px;
}

 .verif_robot {
     margin-right: 1rem;
 }

 .checkbox {
     transform: scale(1.1);
 }

 .send_button {
    background: #272727;
    resize: none;
    border: 2px dotted #4D4DFF;
    padding: 1em 2em;
 }

 .send_button:hover {
    background: #4D4DFF;
    font-size: 15px;
    font-weight: bolder; 
 }

/** Page à propos **/

.description_generale {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    margin: auto;
}

.titre_general {
    color:  #FF007F;
    text-transform: uppercase;
    font-family: "Stellar";
    letter-spacing: 0.3em;
    margin-bottom: 25px;
}

.texte_description_generale {
    font-family: "Stellar";
    color: white;
    text-align: justify;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    line-height: 150%;
}



.titre_portraits {
    color: #4D4DFF;
    font-family: "Mylodon";
    text-align: right;
    padding: 2rem;
    margin-bottom: 20px;
}

.container_portraits {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
    margin: auto;
}

.photo_portrait {
    width: 70%;
    height: auto;
    min-width: 80px;
    margin-right: 1rem;
    border: 2px dotted #FF007F;
    padding: 0.2em;
    margin-bottom: 30px;
}

.portrait {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texte_portrait {
    display: flex;
    flex-direction: column;
    color: #FF007F;
    font-family: "Stellar";
    margin-bottom: 1rem;

}

.description_portrait {
    color: white;
    text-align: justify;
    margin: 0.4rem;
    margin-bottom: 3rem;
    letter-spacing: 0.1em;
    line-height: 120%;
}

.nom_portrait, .titre_portrait {
    text-align: right;
    padding: 0.3rem;
    letter-spacing: 0.3em;
}

.titre_portrait {
    color:  #FF007F;
    text-transform: uppercase;
    font-family: "Stellar";
}
.nom_portrait {
    margin-bottom: 0.5rem;
    color: #4D4DFF;
}


/** Media queries pour le format Desktop **/

@media screen and (min-width: 1200px) {

    .container_portraits {
        display: flex;
        flex-direction: row;
        max-width: 95%;
        justify-content: center;
    }

    .portrait_ligne1 {
        display: flex;
        flex-direction: row;
    }

    .portrait_ligne2 {
        display: flex;
        flex-direction: row;
    }

    #portrait_inverse {
        order: -1;
    }

    .portrait {
        padding: 3em;
    }

    .photo_portrait {
        min-width: 170px;
    }
}